/* SPDX-License-Identifier: MIT */

table, td{
    border: 1px solid;
    border-collapse: collapse; 
}


.darkCol{
    background-color: darkgrey;
}

.fsetRow{
    border: 3px solid;
}

.redBg{
    background-color: red;
}

.square{
    float: left;
    height: 15px;
    width: 15px;
    border: 1px solid black;
}

p{
    max-width: 60%;
    min-width: 50%;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:link{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}