/* SPDX-License-Identifier: BSD-3-Clause */

*{
    font-family: "Times New Roman", Times, serif;
}

table{
    border-collapse: collapse;
    text-align: center;
    border: 1px solid;
}

#manTab, #optTab{
    border-collapse: separate;
}

td{
    white-space: normal;
    min-width: 80px;
}

th{
    border-bottom: 1px solid;
    border-right: 1px solid;
}

.cellType{
    border: 1px solid;
}

#manTab .missingBg{
    background-color: red;
}

#optTab .missingBg{
    background-color: lightcoral;
}

.mainTab td{
    border-collapse: collapse; 
    padding: 10px;
}

.driveHeader{
    background-color: lightgrey;
}

body{
    margin: 20px;
}

.darkCol{
    background-color: darkgrey;
}

.modal{
    position: fixed;
    top: 0pt;
    right: 0pt;
    left: 0pt;
    bottom: 0pt;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.modal-content{
    padding: 20px;
    background-color: gainsboro;
    border-radius: 3px;
}

.modal.show{
    opacity: 1;
    z-index: 20;
}

.redBg{
    background-color: red;
}

.orBg{
    background-color: orange;
}

.square{
    float: left;
    height: 15px;
    width: 15px;
    border: 1px solid black;
}

p{
    max-width: 60%;
    min-width: 50%;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:link{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

.selectedButton{
    border: 2px solid black;
    background-color: gray;
}

.deselectedButton{
    border: 1px solid black;
}

.tiles{
    display: inline-block;
}

.tile{
    float: left;
    margin: 20px;
}